<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:sec="http://www.thymeleaf.org"
>
  <head>
    <title>Groups Page</title>
  </head>
  <div layout:fragment="main">
    <div
      class="p-2 mt-5 mb-4 text-center align-items-center justify-content-center"
    >
      <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
      <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
      <h1 class="h1 p-2 mb-1">Groups Page</h1>
      <h5 class="h5 p-1">
        This is groups page. You can see here a lot of information about each
        group.
      </h5>
    </div>
    <div class="p-2 r-5 row">
      <div
        th:each="group: ${groups.content}"
        class="col-lg-3 col-md-4 col-sm-6 col-12 pt-2 pb-2"
      >
        <div class="card mb-3 bg-body-tertiary rounded shadow" style="width: 18rem;">
          <img
            th:src="@{/uploads/} + ${group.photo}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 th:text="${group.title}" class="card-title"></h5>
            <p th:text="${group.description}" class="card-text"></p>
            <p class="card-text">
              <b>Created Date: </b>
              <small
                th:text="${#temporals.format(group.createdAt, 'dd-MM-yyyy HH:mm')}"
                class="text-body-secondary"
              ></small>
            </p>
            <p class="card-text">
              <b>Last Update: </b>
              <small
                th:text="${#temporals.format(group.updatedAt, 'dd-MM-yyyy HH:mm')}"
                class="text-body-secondary"
              ></small>
            </p>
            <a th:href="@{/groups/{id}(id=${group.id})}" class="btn btn-primary"
              >More info</a
            >
            <a href="#" class="btn btn-success">Events</a>
          </div>
        </div>
      </div>
    </div>
    <nav th:if="${groups.getTotalPages() > 0}" aria-label="Page navigation" class="">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            th:class="${groups.isFirst()}? 'page-link disabled' : 'page-link'"
            th:href="@{/groups(pageSize=${param.pageSize}, pageNo=${prevPageNumber}, query=${param.query})}"
            aria-label="Previous"
          >
            <span>&laquo;</span>
          </a>
        </li>
        <li
          th:each="pageNumber : ${pageNumbers}"
          th:class="${pageNumber.equals(pageNumber.getClass().parseInt(param.pageNo != null ? param.pageNo : 1))} ? 'active page-item' : 'page-item'"
        >
          <a
            class="page-link"
            th:href="@{/groups(pageSize=${param.pageSize}, pageNo=${pageNumber}, query=${param.query})}"
            th:text="${pageNumber}"
          >
          </a>
        </li>
        <li class="page-item">
          <a
            th:class="${groups.isLast()}? 'page-link disabled' : 'page-link'"
            th:href="@{/groups(pageSize=${param.pageSize}, pageNo=${nextPageNumber}, query=${param.query})}"
            aria-label="Next"
          >
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</html>
