<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  xmlns:sec="http://www.thymeleaf.org"
>
  <head>
    <title th:text="${group.title}"></title>
  </head>
  <div layout:fragment="main" th:object="${group}">
    <div
      class="p-2 mt-5 mb-4 text-center align-items-center justify-content-center"
    >
      <div
        th:if="${successMessage}"
        class="alert alert-success"
        th:text="${successMessage}"
      ></div>
      <div
        th:if="${errorMessage}"
        class="alert alert-danger"
        th:text="${errorMessage}"
      ></div>
      <h1 class="h1 p-2 mb-1" th:text="*{title}"></h1>
      <h5 class="h5 p-1" th:text="*{description}"></h5>
    </div>
    <div class="p-2 r-5 align-items-center justify-content-center">
      <!-- Club Detail Start -->
      <div class="card p-5 mb-3 bg-body-tertiary rounded shadow">
        <img th:src="@{/uploads/} + *{photo}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h2 class="card-title text-center mt-5 mb-5" th:text="*{title}"></h2>
          <p class="card-text text-center mb-5" th:text="*{description}"></p>
          <div class="row mb-5">
            <div class="col-sm-6">
              <p class="card-text">
                <b>Updated at: </b
                ><small
                  class="text-body-secondary"
                  th:text="*{#temporals.format(updatedAt, 'dd-MM-yyyy HH:mm')}"
                ></small>
              </p>
            </div>
            <div class="col-sm-6">
              <p class="card-text">
                <b>Created at: </b
                ><small
                  class="text-body-secondary"
                  th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy HH:mm')}"
                ></small>
              </p>
            </div>
          </div>

          <a
            th:if="*{owner} and ${user.id} == *{owner.id}"
            type="button"
            class="btn btn-primary"
            th:href="@{/groups/{id}/update(id=${group.id})}"
          >
            Edit <i class="bi bi-pencil-square"></i>
          </a>
          <a th:href="@{/events(groupId=${group.id})}" class="btn btn-success">Events</a>
          <a
            th:if="*{owner} and ${user.id} == *{owner.id}"
            type="submit"
            th:href="@{/groups/{id}/delete(id=${group.id})}"
            class="btn btn-danger"
          >
            Remove Group
          </a>
          <a
            th:if="${subscribe}"
            type="submit"
            th:href="@{/groups/{id}/subscribe(id=${group.id})}"
            class="btn btn-warning text-white"
            th:text="${subscribe}"
          ></a>
          <hr />
          <div class="text-center">
            <h3 class="h1 p-2 mb-1">
              <a th:href="@{/events(groupId=${group.id})}">Events</a>
            </h3>
          </div>
          <div class="mt-2 p-2 r-5 row">
            <div
              th:each="event: *{events}"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pt-2 pb-2"
            >
              <div class="card" style="width: 18rem;">
                <img th:src="${event.photo}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">
                    <b>Name: </b><span th:text="${event.name}"></span>
                  </h5>
                  <p class="card-text">
                    <b>Type: </b><span th:text="${event.type}"></span>
                  </p>
                  <p class="card-text">
                    <b>Start: </b
                    ><small
                      th:text="${event.startTime}"
                      class="text-body-secondary"
                    ></small>
                  </p>
                  <p class="card-text">
                    <b>End: </b
                    ><small
                      th:text="${event.endTime}"
                      class="text-body-secondary"
                    ></small>
                  </p>
                  <p class="card-text">
                    <b>Created At: </b
                    ><small
                      th:text="${event.createdAt}"
                      class="text-body-secondary"
                    ></small>
                  </p>
                  <p class="card-text">
                    <b>Last Updated At: </b
                    ><small
                      th:text="${event.updatedAt}"
                      class="text-body-secondary"
                    ></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
